# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
out
dist
build

# Cache
.cache
.npm
.pnpm-debug.log

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
.DS_Store
Thumbs.db

# Testing
coverage 