node_modules/
.eslintcache
.next/
tsconfig.tsbuildinfo
*.code-workspace

# turbo
.turbo
.vercel

**/.DS_Store
.ignore
**/test-results/
**/playwright-report/
**/blob-report/
**/playwright/.cache/

**/.auth/**

**/.env

.maki/

*.bun-build

.eval-run-id

dist
