services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-dbagent}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-changeme}
      POSTGRES_DB: ${POSTGRES_DB:-dbagent}
    volumes:
      - agent_postgres_data:/var/lib/postgresql/data
      - ./apps/dbagent/scripts/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - db_network

  xata-agent:
    image: xataio/agent:0.2.1
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER:-dbagent}:${POSTGRES_PASSWORD:-changeme}@postgres:5432/${POSTGRES_DB:-dbagent}
      NODE_ENV: production
      AUTH_TRUST_HOST: ${AUTH_TRUST_HOST:-localhost}
    env_file: '.env.production'
    ports:
      - '8080:8080'
    depends_on:
      - postgres
    networks:
      - db_network

volumes:
  agent_postgres_data:

networks:
  db_network:
    driver: bridge
