@import 'tailwindcss';

@plugin 'tailwindcss-animate';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme {
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-card-primary: var(--card-primary);
  --color-card-primary-hover: var(--card-primary-hover);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-link: var(--link);
  --color-link-foreground: var(--link-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-subtle: var(--subtle);
  --color-contrast-high: var(--contrast-high);

  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-success: var(--success);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  --animate-border-beam: border-beam calc(var(--duration) * 1s) infinite linear;
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
  --animate-skew-scroll: skew-scroll 20s linear infinite;

  --font-code: var(--font-geist-mono);
  --font-regular: var(--font-geist-sans);
  --font-heading: var(--font-heading);

  --color-purple-50: oklch(0.969 0.016 293.847);
  --color-purple-100: oklch(0.89 0.059 293.718);
  --color-purple-200: oklch(0.809 0.105 293.082);
  --color-purple-300: oklch(0.732 0.151 291.32);
  --color-purple-400: oklch(0.657 0.195 288.942);
  --color-purple-500: oklch(0.602 0.208 287.67);
  --color-purple-600: oklch(0.562 0.19 287.499);
  --color-purple-700: oklch(0.523 0.172 287.733);
  --color-purple-800: oklch(0.481 0.153 287.485);
  --color-purple-900: oklch(0.44 0.134 287.123);

  --color-gray-50: oklch(98.5% 0 0);
  --color-gray-100: oklch(96.7% 0.001 286.375);
  --color-gray-200: oklch(92% 0.004 286.32);
  --color-gray-300: oklch(87.1% 0.006 286.286);
  --color-gray-400: oklch(70.5% 0.015 286.067);
  --color-gray-500: oklch(55.2% 0.016 285.938);
  --color-gray-600: oklch(44.2% 0.017 285.786);
  --color-gray-700: oklch(37% 0.013 285.805);
  --color-gray-800: oklch(0.267 0.039 292.304);
  --color-gray-900: oklch(0.179 0.029 289.744);
  --color-gray-950: oklch(0.154 0.023 291.751);

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }

  @keyframes border-beam {
    100% {
      offset-distance: 100%;
    }
  }

  @keyframes spotlight {
    0% {
      opacity: 0;
      transform: translate(-72%, -62%) scale(0.5);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -40%) scale(1);
    }
  }

  @keyframes skew-scroll {
    0% {
      transform: rotateX(20deg) rotateZ(-20deg) skewX(20deg) translateZ(0) translateY(0);
    }
    100% {
      transform: rotateX(20deg) rotateZ(-20deg) skewX(20deg) translateZ(0) translateY(-100%);
    }
  }
}

/* Compatibility with Tailwind CSS v3 */
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
    --background: oklch(0.985 0 0);
    --foreground: oklch(0.179 0.029 289.744);
    --contrast-high: oklch(0 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.179 0.029 289.744);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.179 0.029 289.744);
    --link: oklch(0.523 0.172 287.733);
    --primary: oklch(0.562 0.19 287.499);
    --card-primary: oklch(96.9% 0.016 293.756);
    --card-primary-hover: oklch(94.3% 0.029 294.588);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(92% 0.004 286.32);
    --secondary-foreground: oklch(0.267 0.039 292.304);
    --muted: oklch(96.7% 0.001 286.375);
    --muted-foreground: oklch(44.2% 0.017 285.786);
    --accent: oklch(92% 0.004 286.32);
    --accent-foreground: oklch(0.267 0.039 292.304);
    --destructive: oklch(63.7% 0.237 25.331);
    --destructive-foreground: oklch(1 0 0);
    --danger: oklch(63.7% 0.237 25.331);
    --success: oklch(62.7% 0.194 149.214);
    --warning: oklch(79.5% 0.184 86.047);
    --border: oklch(92% 0.004 286.32);
    --input: oklch(87.1% 0.006 286.286);
    --ring: oklch(0.602 0.208 287.67);
    --subtle: oklch(55.2% 0.016 285.938);
    --chart-1: oklch(75% 0.183 55.934);
    --chart-2: oklch(60% 0.118 184.704);
    --chart-3: oklch(42.4% 0.199 265.638);
    --chart-4: oklch(85.2% 0.199 91.936);
    --chart-5: oklch(80.8% 0.114 19.571);
    --sidebar-background: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.267 0.039 292.304);
    --sidebar-primary: oklch(0.179 0.029 289.744);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(92% 0.004 286.32);
    --sidebar-accent-foreground: oklch(0.179 0.029 289.744);
    --sidebar-border: oklch(87.1% 0.006 286.286);
    --sidebar-ring: oklch(90.2% 0.063 306.703);
    --deleted-line: oklch(66.51% 0.2046 26.96 / 40.55%);
    --added-line: oklch(62.22% 0.1661 146.22 / 40.13%);
  }

  .dark {
    --background: oklch(0.154 0.023 291.751);
    --foreground: oklch(1 0 0);
    --contrast-high: oklch(1 0 0);
    --card: oklch(0.179 0.029 289.744);
    --card-primary: oklch(0.272 0.069 288.23);
    --card-primary-hover: oklch(0.351 0.09 288.729);
    --card-foreground: oklch(1 0 0);
    --popover: oklch(0.179 0.029 289.744);
    --popover-foreground: oklch(1 0 0);
    --link: oklch(0.809 0.105 293.082);
    --primary: oklch(0.562 0.19 287.499);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.267 0.039 292.304);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(0.267 0.039 292.304);
    --muted-foreground: oklch(70.5% 0.015 286.067);
    --accent: oklch(0.267 0.039 292.304);
    --accent-foreground: oklch(1 0 0);
    --destructive: oklch(57.7% 0.245 27.325);
    --destructive-foreground: oklch(1 0 0);
    --danger: oklch(70.4% 0.191 22.216);
    --success: oklch(79.2% 0.209 151.711);
    --warning: oklch(85.2% 0.199 91.936);
    --border: oklch(0.271 0.031 292.281);
    --input: oklch(0.267 0.039 292.304);
    --ring: oklch(0.732 0.151 291.32);
    --subtle: oklch(70.5% 0.015 286.067);
    --chart-1: oklch(44.2% 0.017 285.786);
    --chart-2: oklch(70.4% 0.14 182.503);
    --chart-3: oklch(79.5% 0.184 86.047);
    --chart-4: oklch(55.8% 0.288 302.321);
    --chart-5: oklch(63.7% 0.237 25.331);
    --sidebar-background: oklch(0.154 0.023 291.751);
    --sidebar-foreground: oklch(96.7% 0.001 286.375);
    --sidebar-primary: oklch(37% 0.013 285.805);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.267 0.039 292.304);
    --sidebar-accent-foreground: oklch(96.7% 0.001 286.375);
    --sidebar-border: oklch(0.271 0.031 292.281);
    --sidebar-ring: oklch(90.2% 0.063 306.703);
    --deleted-line: oklch(66.51% 0.2046 26.96 / 10%);
    --added-line: oklch(62.22% 0.1661 146.22 / 14.9%);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .text-trail {
    color: currentColor;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    -webkit-text-stroke: 1px currentColor;
    text-stroke: 1px currentColor;
  }
}
