@import '@xata.io/theme/theme.css';
@source "../../node_modules/@xata.io/components";

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.skeleton {
  * {
    pointer-events: none !important;
  }
}

.ProseMirror {
  outline: none;
}
